<h1>Add a new photo</h1>

<form action="/create_photo">
  <label for="cap">
    The_caption
  </label>
<input id="cap" type="text" name="ze_caption">
<label for="src">
  The_source
</label>
<input id="src" type="text" name="ze_source">
<button>Add photo</button>

</form>
