<h1>Add a new photo</h1>

<form action="/create_photo">
  <label for="cap">
    Caption
  </label>
<input id="cap" type="text" name="the_caption">
<label for="src">
  Image URL
</label>
<input id="src" type="text" name="the_source">
<button>Create Photo</button>

</form>
